<div class="card w-50 mt-3">
    <h3>{{name}}</h3>
    <h5>Link</h5>
    <a href="{{link}}">{{link}}</a>
    <h5>Price</h5>
    <p>{{price}}</p>
    <h5>Category:</h5>
    <p>{{category.name}}</p>
</div>