<div class="container pt-3">
    <div class="row d-flex justify-content-center">
        <div class="card w-100 h-25 shadow-sm">
            <div class="card-body">
                <ul>
                    <li class="pt-1">
                        <h3 id="product-name-{{id}}">{{name}}</h3>
                    </li>
                    {{#if (displayLink link)}}
                    <li>
                        Link: <a href="{{link}}" id="product-link-{{id}}">{{link}}</a>
                    </li>
                    {{/if}}
                    <li class="pt-1">
                        Price: <h6 id="product-price-{{id}}" style="display: inline;">{{price}}</h6>
                    </li>
                    <li class="pt-1">
                        Category: <h6 id="product-category-{{id}}" style="display: inline;">{{category.name}}</h6>
                    </li>
                </ul>
                {{#if isOwned}}
                <button class="pl-5 pr-5 btn-primary mt-3 rounded" data-toggle="modal" data-target="#add-product"
                    id="product-edit" data-id="{{id}}">Edit</button>
                <button class="pl-5 pr-5 btn-primary mt-3 rounded" data-toggle="modal" data-target="#delete-product"
                    id="product-delete" data-id="{{id}}">Delete</button>
                {{/if}}
            </div>
        </div>
    </div>
</div>