<div class="container custom-welcome">
  <div class="row d-flex justify-content-center custom-welcome">
    <h1 class="header-text text-center text-shadow">Create A Wish List</h1>
  </div>
</div>

<br>

<div class="row d-flex justify-content-center">
  <hr class="w-75">
</div>



<div class="container">
    <div class="row d-flex justify-content-center" id="home-display">
      <li class="flex-item">
        <a href="/dashboard"><img src="/images/baby-shower.jpeg" alt=""></a>
      </li>
      <li class="flex-item">
        <a href="/dashboard"><img src="/images/birthday.jpeg" alt=""></a>
      </li>
      <li class="flex-item">
        <a href="/dashboard"><img src="/images/wedding.jpeg" alt=""></a>
      </li>
      <li class="flex-item">
        <a href="/dashboard"><img src="/images/holidays.png" alt=""></a>
      </li>
    </ul>
</div>

<div class="row d-flex justify-content-center">
  <hr class="w-75">
</div>

<br>

<div class="container custom-welcome">
  <div class="row d-flex justify-content-center">
    <h2>User Registries</h2>
  </div>
</div>

<br>

<div class="row d-flex justify-content-center">
  <hr class="w-75">
</div>

<br> <br> <br>

<div class="container">
  <ul>
    {{#each registries as |registry| }}
    <li class="flex-row p-5">
      <div class="card shadow">
        <div class="card-header text-center">
          <h4>
            <a href="/registry/{{registry.id}}">{{registry.name}}</a>
          </h4>
          <h5>By: {{registry.user.username}}</h5>
        </div>
        <div class="card-body text-center">
          <br>
          <p>{{registry.description}}</p>
          <br>
        </div>
        <div class="card-footer text-center">
          <br>
          <p>{{ getDate registry.date}}</p>
          <br>
        </div>
      </div>
    </li>
    {{/each}}
  </ul>
</div>